@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Yostynn 2017-5628:</strong> <a href="mailto:20175628@itla.edu.do">Correo a este desarrollador</a><br />
    <strong>Johan 2018-6764</strong> <a href="mailto:20186764@itla.edu.do">Correo a este desarrollador</a>
</address>
